<div class="card">
    <main class="main">
        <h4 class="title">{{task.title}}</h4>
        <p>{{task.description}}</p>
    </main>
    <footer class="footer">
        <div class="responsible">
            <span>{{task.responsible}}</span>
            <div class="date">
                <span>Até:  </span>
                <span>{{task.deadline}}</span>
            </div>
        </div>
        <div class="btns" >
            <button class="btn" *ngIf="task.situation === 'em andamento'">
                <i class="material-symbols-outlined">done</i>
            </button>
            <a routerLink="task/edit/{{task.idTask}}" class="btn" *ngIf="task.situation === 'em andamento'">
                <i class="material-symbols-outlined">edit</i>
            </a>
            <button class="btn" (click)="removeHandler(task.idTask)">
                <i class="material-symbols-outlined">delete</i>
            </button>
        </div>
    </footer>
</div>