<div class="card">
    <main class="main">
        <h4 class="title">Fazer o sistema de login</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Sed facere nostrum eum 
            laborum explicabo excepturi dignissimos 
            consequatur reiciendis voluptas 
        </p>
    </main>
    <footer class="footer">
        <div class="responsible">
            <span>Henrique</span>
            <div class="date">
                <span>Até:  </span>
                <span>10/10/2023</span>
            </div>
        </div>
        <div class="btns">
            <button class="btn">
                <i class="material-symbols-outlined">done</i>
            </button>
            <button class="btn">
                <i class="material-symbols-outlined">edit</i>
            </button>
            <button class="btn">
                <i class="material-symbols-outlined">delete</i>
            </button>
        </div>
    </footer>
</div>