<section class="pop-up-edit">
    <form (ngSubmit) = "submit()" [formGroup]="taskForm" #formDir="ngForm" class="form">
        <section class="container">
            <div class="box-form">
                <div class="group">
                    <label>Título</label>
                    <input class="title" clatype="text" formControlName="title" required>
                    <p *ngIf="title.invalid && formDir.submitted">Obrigatório</p>
                </div>
                <div class="group">
                    <label>Descrição</label>
                    <textarea class="description" formControlName="description" required></textarea>
                    <p *ngIf="description.invalid && formDir.submitted">Obrigatório</p>
                </div>
            </div>
            <div class="box-form">
                <div class="group">
                    <label>Responsável</label>
                    <select class="responsible" formControlName="responsible" required>
                        <option value="Henrique">Henrique</option>
                        <option value="Pablo">Pablo</option>
                        <option value="Douglas">Douglas</option>
                    </select>
                    <p *ngIf="responsible.invalid && formDir.submitted">Obrigatório</p>
                </div>
                <div class="group">
                    <label>Prioridade</label>
                    <select class="priority" formControlName="priority" required>
                        <option value="alta">Alta</option>
                        <option value="media">Média</option>
                        <option value="baixa">Baixa</option>
                    </select>
                    <p *ngIf="priority.invalid && formDir.submitted">Obrigatório</p>
                </div>
                <div class="group">
                    <label>Data final</label>
                    <input class="deadline" formControlName="deadline" type="date" required>
                    <p *ngIf="deadline.invalid && formDir.submitted">Obrigatório</p>
                </div>
            </div>
        </section>
        <div class="btns">
            <input type="submit" class="btn" value="Editar">
            <a class="btn" routerLink="/">Voltar</a>
        </div>
    </form>
</section>