.pop-up-edit{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 15;
    transition: 1s;
}

.pop-up-edit .form{
    width: 450px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.5);
}

.pop-up-edit .form .container{
    width: 100%;
    height: 85%;
    display: flex;
    gap: 15px;
}

.pop-up-edit .form .container .box-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pop-up-edit .form .container .box-form:nth-child(1){
    width: 265px;
}

.pop-up-edit .form .container .box-form:nth-child(2){
    width: 150px;
}

.pop-up-edit .form .container .box-form .group{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.pop-up-edit .form .container .box-form .group p{
    font-size: 10px;
    color: red;
}

.pop-up-edit .form .container .box-form .group label{
    font-size: 13px;
    font-weight: 600;
    color: #7a7a7a;
}

.pop-up-edit .form .container .box-form .group input,
.pop-up-edit .form .container .box-form .group select,
.pop-up-edit .form .container .box-form .group textarea{
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #7a7a7a;
    border-radius: 15px;
    font-size: 11px;
    outline: none;
}

.pop-up-edit .form .container .box-form .group textarea{
    height: 100px;
}

.pop-up-edit .form .btns{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pop-up-edit .form .btns .btn{
    height: 30px;
    padding: 5px 15px;
    background: transparent;
    border: 1px solid #7a7a7a;
    border-radius: 15px;
}
.pop-up-edit .form .btns a{
    color: #0d1321;
    font-size: 13px;
}

.pop-up-edit .form .btns .btn:hover{
    border: 1px solid #0d1321;
}

@media(max-width: 550px){
    .pop-up-edit .form .container{
        flex-direction: column;
    }
    .pop-up-edit .form .container .box-form:nth-child(1),
    .pop-up-edit .form .container .box-form:nth-child(2){
        width: 100%;
    }
    .pop-up-edit .form{
        width: 65%;
    }
    .pop-up-edit .form .container .box-form .group label {
        display: none;
    }
}