.leftBar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: #0d1321;
    width: 230px;
    height: 100%;
    padding: 30px 15px 30px 15px;
}

.leftBar .user{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.leftBar .user i{
    color: #FFFFFF;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.leftBar .menu{
    height: 80%;
}

.leftBar .menu ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leftBar .menu .item-menu{
    height: 50px;
    width: 100%;
    display: flex;
}

.leftBar .menu .item-menu button {
    width: 100%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.6s;
    background: transparent;
    border: none;
}


.leftBar .menu .item-menu button.pressed {
    background-color: rgba(255, 255, 255, 0.2);
}

.leftBar .menu .item-menu button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.leftBar .menu .item-menu button i{
    font-size: 30px;
}

.leftBar .s-out {
    display: flex;
    justify-content: center;
}

.leftBar .s-out .btn{
    height: 40px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    color: #FFFFFF;
}

.leftBar .s-out .btn:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.mobile {
    display: none;
    background-color: #0d1321;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: 0.6s;
}

.mobile .main{
    opacity: 0;
    width: 100%;
    height: calc(100vh - 50px);
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    pointer-events: none;
}


.mobile .main .menu-mobile ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mobile .main .menu-mobile .item-menu{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mobile .main .menu-mobile .item-menu button{
    background: transparent;
    border: none;
}

.mobile .main .menu-mobile .item-menu button.pressed{
    background-color: rgba(255, 255, 255, 0.2);
}

.mobile .main .user i{
    color: #FFFFFF;
}

.mobile .main .menu-mobile .item-menu button{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 0 15px;
    color: #FFFFFF;
}

.mobile .main .user{
    display: flex;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.mobile .main .user i{
    font-size: 30px;
}

.mobile .main .s-out .btn{
    height: 35px;
    padding: 0 25px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    color: #FFFFFF;
}

.mobile.active{
    height: 100vh;
}

.mobile.active .main{
    opacity: 1;
    pointer-events: inherit;
}

.mobile .btns-menu-mob{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 20px;
}

.mobile .btns-menu-mob .btn{
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile .btns-menu-mob .btn i{
    color: #FFFFFF;
}



@media(max-width: 1200px){
    .leftBar{
        width: 210px;
        padding: 25px 10px 25px 10px;
    }
    .leftBar .menu .item-menu button {
        font-size: 13px;
    }
    .leftBar .menu .item-menu button i{
        font-size: 25px;
    }
    .leftBar .s-out .btn i{
        font-size: 20px;
    }
    .leftBar .s-out .btn span{
        font-size: 13px;
    }
}

@media(max-width: 1080px){
    .leftBar{
        width: 75px;
    }
    .leftBar .menu .item-menu button{
        padding: 0;
        justify-content: center;
        height: 45px;
    }
    .leftBar .menu .item-menu button span{
        display: none;
    }
    .leftBar .s-out .btn{
        padding: 5px 9px;
    }
    .leftBar .s-out .btn i{
        font-size: 20px;
    }
    .leftBar .s-out .btn span{
        display: none;
    }
}


@media(max-width: 768px){
    .leftBar{
        display: none;
    }
    .mobile {
        display: block;
    }
    
}