<aside class="leftBar">
    <header class="user">
        <i class="material-symbols-outlined">person</i>
    </header>
    <nav class="menu">
        <ul>
            <li class="item-menu">
                <button (click)="toggleButton(1)" [class.pressed]="currentButton === 1">
                    <i class="material-symbols-outlined">home</i>
                    <span>Home</span>
                </button>
            </li>
            <li class="item-menu">
                <button (click)="toggleButton(2)" [class.pressed]="currentButton === 2">
                    <i class="material-symbols-outlined">done</i>
                    <span>Completad tasks</span>
                </button>
            </li>
            <li class="item-menu">
                <button (click)="toggleButton(3)" [class.pressed]="currentButton === 3">
                    <i class="material-symbols-outlined">hourglass_bottom</i>
                    <span>Late tasks</span>
                </button>
            </li>
        </ul>
    </nav>
    <div class="s-out">
        <button class="btn">
            <i class="material-symbols-outlined">logout</i>
            <span>Sign out</span>
        </button>
    </div>
</aside>
<header [ngClass]="{'active': isMenuActive, 'mobile': true}">
    <div class="btns-menu-mob">
        <button *ngIf="enableButton" (click)="enableMenu()" class="btn">
            <i class="material-symbols-outlined">menu</i>
        </button>
        <button *ngIf="disableButton" (click)="disableMenu()" class="btn">
            <i class="material-symbols-outlined">close</i>
        </button>
    </div>
    <section class="main">
        <header class="user">
            <i class="material-symbols-outlined">person</i>
        </header>
        <nav class="menu-mobile">
            <ul>
                <li class="item-menu">
                    <button (click)="toggleButton(1)" [class.pressed]="currentButton === 1">Home</button>
                </li>
                <li class="item-menu">
                    <button (click)="toggleButton(2)" [class.pressed]="currentButton === 2">Completad task</button>
                </li>
                <li class="item-menu">
                    <button (click)="toggleButton(3)" [class.pressed]="currentButton === 3">Late tasks</button>
                </li>
            </ul>
        </nav>
        <div class="s-out">
            <button class="btn">Sign out </button>
        </div>
    </section>
</header>