<section class="main">
    <header class="header">
        <section class="busca">

        </section>
        <div class="btn">
            <button (click)="addClass()">New</button>
        </div>
    </header>
    <main class="content">
        <div class="box-listagem">
            <div *ngFor="let task of tasksA">
                <app-task-card
                    [task] = "task" 
                    *ngIf="task.situation === situation"
                ></app-task-card>
            </div>
        </div>
        <div class="box-listagem">
            <div *ngFor="let task of tasksM">
                <app-task-card
                    [task] = "task" 
                    *ngIf="task.situation === situation"
                ></app-task-card>
            </div>
        </div>
        <div class="box-listagem">
            <div *ngFor="let task of tasksB">
                <app-task-card
                    [task] = "task" 
                    *ngIf="task.situation === situation"
                ></app-task-card>
            </div>
        </div>
    </main>
</section>