<section class="main">
    <header class="header">

    </header>
    <main class="content">
        <div class="box-listagem">
            <app-task-card></app-task-card>
            <app-task-card></app-task-card>
            <app-task-card></app-task-card>
            <app-task-card></app-task-card>
        </div>
        <div class="box-listagem">
            <app-task-card></app-task-card>
        </div>
        <div class="box-listagem">
            <app-task-card></app-task-card>
            <app-task-card></app-task-card>
        </div>
    </main>
</section>